<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>הרשמה</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="שם פרטי" [(ngModel)]="newTeacher.name" name="name" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="שם משפחה" [(ngModel)]="newTeacher.lastName" name="lastName"
                required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="email" placeholder="מייל" [(ngModel)]="newTeacher.email" name="lastName" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="tel" placeholder="טלפון" [(ngModel)]="newTeacher.tell" name="lastName" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="tel" placeholder="פלאפון" [(ngModel)]="newTeacher.phone" name="lastName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="number" placeholder="גיל" [(ngModel)]="newTeacher.age" name="lastName" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="סיסמה" [(ngModel)]="newTeacher.password" type="password" name="password"
                required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="אישור סיסמה" [(ngModel)]="confirmPassword" type="password" name="password"
                required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                  <mat-select placeholder="בחר עיר " [(ngModel)]="city.cityId" name="name">
                      <mat-option (onSelectionChange)="changeCity(option.cityId)" *ngFor="let option of cities" [value]="option.cityId">{{option.name}}</mat-option>
                  </mat-select>
                </mat-form-field>    
            </td>
              <td>
                  <mat-form-field>
                    <mat-select placeholder="בחר אזור " [(ngModel)]="newTeacher.areaId" name="name">
                        <mat-option *ngFor="let option of city.areas" [value]="option.areaId">{{option.areaName}}</mat-option>
                    </mat-select>
                  </mat-form-field>    
              </td>
        </tr>
        <tr>
          <td>
            <section class="example-section">
              <label class="example-margin">גננת ב: </label>
              <mat-radio-group [(ngModel)]="isNewKindgarden" name="radio">
                <mat-radio-button [value]="false">גן קים</mat-radio-button>
                <mat-radio-button [value]="true" (click)="openDialog()">גן חדש</mat-radio-button>
              </mat-radio-group>
            </section>
          </td>
        </tr>

        <tr *ngIf="!isNewKindgarden">
          <td>
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="בחר גן" [(ngModel)]="newTeacher.kindergartenId" name="name">
                  <mat-option *ngFor="let Kinder of allKinderGardens" [value]="Kinder.kindergartenId">
                    {{Kinder.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </td>
          not isNewKindgarden
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addNewTeacher()">הרשמה</button>
  </mat-card-actions>
</mat-card>