<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>הרשמה</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="שם פרטי" [(ngModel)]="newTeacher.name" name="name" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="שם משפחה" [(ngModel)]="newTeacher.lastName" name="lastName"
                required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="email" placeholder="מייל" [(ngModel)]="newTeacher.email" name="lastName"
                required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="tel" placeholder="טלפון" [(ngModel)]="newTeacher.tell" name="lastName" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="tel" placeholder="פלאפון" [(ngModel)]="newTeacher.phone" name="lastName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput type="number" placeholder="גיל" [(ngModel)]="newTeacher.age" name="lastName" required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="סיסמה" [(ngModel)]="newTeacher.password" type="password" name="password"
                required>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="אישור סיסמה" [(ngModel)]="confirmPassword" type="password" name="password"
                required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <section class="example-section">
              <label class="example-margin">גננת ב: </label>
              <mat-radio-group [(ngModel)]="isNewKindgarden" name="radio">
                <mat-radio-button [value]="false">גן קים</mat-radio-button>
                <mat-radio-button [value]="true">גן חדש</mat-radio-button>
              </mat-radio-group>
            </section>
          </td>
        </tr>

        <tr *ngIf="!isNewKindgarden">
          <td>
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [(ngModel)]="newTeacher.kindergartenId" [formControl]="myControl"
                  [matAutocomplete]="auto">
                <mat-autocomplete  #auto="matAutocomplete">
                  <mat-option  *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="onSelectionChange(option)">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </td>
          not isNewKindgarden
        </tr>
        <div *ngIf="isNewKindgarden">
          <app-new-kindergarden [kindergarden]="newTeacher.kindergarten"></app-new-kindergarden>
          isNewKindgarden
        </div>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addNewTeacher()">הרשמה</button>
  </mat-card-actions>
</mat-card>