
<div class="container">
      <img src="../../../assets/wellcom.jpg">
      <button mat-button (click)="enter()" class="btn" style="    top: 90% !important;
      left: -32% !important;">
            כניסה
         </button>
         <button mat-button (click)="registerTeacher()" class="btn" style="top: 71% !important;
         left: -30%;">
            הרשמת גננת
         </button>
         <button mat-button (click)="registerChild()" class="btn" style="top: 81% !important;
         left: -30%;">
            הרשמת ילד
         </button>
    </div>
