
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>גן חדש</mat-card-title>
    </mat-card-header>
    <mat-card-content>
   <form>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="שם" [(ngModel)]="kindergarden.name" name="name" required>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="קוד גן " [(ngModel)]="kindergarden.code" name="code" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="tel" placeholder="טלפון" [(ngModel)]="kindergarden.tell" name="tell" required>
              </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                  <mat-select placeholder="בחר עיר " [(ngModel)]="city.cityId" name="name">
                      <mat-option (onSelectionChange)="changeCity(option.cityId)" *ngFor="let option of cities" [value]="option.cityId">{{option.name}}</mat-option>
                  </mat-select>
                </mat-form-field>    
            </td>
              <td>
                  <mat-form-field>
                    <mat-select placeholder="בחר אזור " [(ngModel)]="kindergarden.areaId" name="name">
                        <mat-option *ngFor="let option of city.areas" [value]="option.areaId">{{option.areaName}}</mat-option>
                    </mat-select>
                  </mat-form-field>    
              </td>
          </tr>
          <tr>
            <td>
                <mat-form-field>
                  <mat-select placeholder="בחר שכבת גיל" [(ngModel)]="kindergarden.layerId" name="name">
                    <mat-option *ngFor="let layer1 of layers" [value]="layer1.layerId">
                      {{layer1.layerName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
           
            </td>
            <td>
              שעות פעילות הגן:
              <mat-form-field class="example-full-width">
                <input matInput placeholder=" משעה" [(ngModel)]="kindergarden.fromHour" type="time" name="password" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput type="time" placeholder="עד שעה" [(ngModel)]="kindergarden.tillHour" name="lastName" required>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="כתובת" [(ngModel)]="kindergarden.address" type="text" name="password" required>
              </mat-form-field>
            </td>
            <td>

                <mat-form-field>
                    <mat-select placeholder="בחר שיכות" [(ngModel)]="kindergarden.belongingId" name="name">
                      <mat-option *ngFor="let belong of belongs" [value]="belong.belongingId">
                        {{belong.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </td>
          </tr>
          <button></button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addKindergarden()">הרשמה</button>
      </mat-card-actions>
    </mat-card>

    
  